<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823175065229-5pmoqa1jumg8peqerhfgkl9novd6t3h8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823175065229-5pmoqa1jumg8peqerhfgkl9novd6t3h8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>823175065229-k8qhaas62ti90752841160maknachevk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnJA1trHScJxeIDHlFsiIfdcLX1ijE8Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>823175065229</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutter.get.fire</string>
	<key>PROJECT_ID</key>
	<string>fluttergetfire</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttergetfire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823175065229:ios:b660fd21d338e11bb9bcc4</string>
</dict>
</plist>